:root {
  --dark: #343637;
  --font-headline: 'fieldwork', 'arial', sans-serif;

  --starry-sky: rgba(36, 38, 43, 1);
  --navy: #083a48;
  --orange: #ff9b00;
  --green: #87fd6e;
  --teal: #3ad4d6;
  --grey: rgba(87, 90, 99, 1);
  --blue: rgba(45, 61, 106, 1);
  --blueLight: #f8fdff;

  --schubrakeden-shadow: 4px 4px 0 0 rgba(101, 133, 167, 0.15),
    2px 2px 0 0 rgba(134, 155, 177, 0.2);

  --schubrakeden-shadow--light: 4px 4px 0 0 rgba(131, 152, 153, 0.12),
    2px 2px 0 0 rgba(214, 225, 235, 0.56);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'fieldwork';
  background-color: white;
  background-size: 100% auto;
  color: var(--dark);
}

@media (max-width: 520px) {
    body {
      font-size: 16px;
    }
  }

._3YJew {
  padding: 120px 16px;
}

@media (min-width: 800px) {

._3YJew {
    padding: 200px 32px;
    max-width: 880px;
    margin: 0 auto
}
  }

._3oL9h {
  padding: 32px 16px;
}

._2XlO2 {
  position: relative;
  z-index: 5;
  width: 100%;
  text-transform: uppercase;
}

@media (max-width: 520px) {
    ._2XlO2 {
      margin-bottom: 20px;
    }
  }

._3Qdve {
  width: 160px;
  display: inline-flex;
  align-items: center;
}
._2deeg {
  margin-right: 16px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  height: 50px;
}
@media (max-width: 800px) {
    ._2deeg {
      display: none;
    }
  }

/* bg */

@-webkit-keyframes _1yd1D {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes _1yd1D {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
._2rUt6 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

._3dewH {
  width: 100vw;
  height: 100vh;
  position: relative;
}
._1lcaT {
  position: absolute;
  --size: 50px;
  position: absolute;
  -webkit-transform-origin: -50px -50px;
          transform-origin: -50px -50px;
  -webkit-animation: _1yd1D 20s linear infinite;
          animation: _1yd1D 20s linear infinite;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
}

._3A1pD {
  --size: 10px;
}
._3aqUy {
  --size: 15px;
}
._3koHg {
  --size: 25px;
}

._3kj4h {
  background: var(--green);
}
._2cdyT {
  background: var(--teal);
}
.C2YMk {
  background: var(--orange);
}

._1zBD1 {
  flex-direction: column;
  align-items: flex-start;
  padding: 200px 0 0 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: flex-start;
}

  @media (min-width: 600px) {
    ._1zBD1 {
      flex-direction: row;
    }
  }

.yfYnc {
  text-transform: uppercase;
  font-weight: 200;
  font-family: var(--font-headline);
  line-height: 1;

  color: var(--navy);
  transition: text-shadow 120ms ease-in-out;
  text-shadow: 2px 2px 0 rgba(154, 154, 154, 0.46),
    4px 4px 0 rgba(58, 140, 227, 0.15);
  margin: 0;
}
  .yfYnc:hover {
    text-shadow: 4px 4px 0 rgba(154, 154, 154, 0.46),
      8px 8px 0 rgba(58, 140, 227, 0.15);
  }

/* Levels */

.xiGw0 {
  margin-bottom: 18px;
  font-size: 90px;
}

@media (max-width: 900px) {

.xiGw0 {
    font-size: 80px
}
  }

@media (max-width: 520px) {
    .xiGw0 {
      font-size: 11vw;
    }
  }

._2DA24 {
  font-weight: 600;
  font-size: 38px;
  color: #083a48;
  letter-spacing: 0;

  text-shadow: 2px 2px 0 rgba(154, 154, 154, 0.46),
    4px 4px 0 rgba(58, 140, 227, 0.15);
  margin: 0;
}

._2DA24:hover {
    text-shadow: 4px 4px 0 rgba(154, 154, 154, 0.46),
      8px 8px 0 rgba(58, 140, 227, 0.15);
  }

._1ubKa {
  text-transform: initial;
  text-shadow: initial;
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
}

._1ubKa:hover {
    text-shadow: initial;
  }

._2tYEm {
  text-transform: initial;
  text-shadow: initial;
  font-size: 22px;
  font-weight: 300;
}

._2tYEm:hover {
    text-shadow: initial;
  }
._3XonR {
}

._33ZOK {
  font-weight: bold;
  color: var(--navy);
  border-bottom: 4px solid var(--teal);
  text-decoration: none;
}

._1g1ts {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  font-family: fieldwork-hum, sans-serif;
}

._3c-w2 {
  margin-bottom: 120px;
}

