:root {
  --dark: #343637;
  --font-headline: 'fieldwork', 'arial', sans-serif;

  --starry-sky: rgba(36, 38, 43, 1);
  --navy: #083a48;
  --orange: #ff9b00;
  --green: #87fd6e;
  --teal: #3ad4d6;
  --grey: rgba(87, 90, 99, 1);
  --blue: rgba(45, 61, 106, 1);
  --blueLight: #f8fdff;

  --schubrakeden-shadow: 4px 4px 0 0 rgba(101, 133, 167, 0.15),
    2px 2px 0 0 rgba(134, 155, 177, 0.2);

  --schubrakeden-shadow--light: 4px 4px 0 0 rgba(131, 152, 153, 0.12),
    2px 2px 0 0 rgba(214, 225, 235, 0.56);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'fieldwork';
  background-color: white;
  background-size: 100% auto;
  color: var(--dark);
}

@media (max-width: 520px) {
    body {
      font-size: 16px;
    }
  }

.components-frame-frame_frame {
  padding: 120px 16px;
}

@media (min-width: 800px) {

.components-frame-frame_frame {
    padding: 200px 32px;
    max-width: 880px;
    margin: 0 auto
}
  }

.components-frame-frame_singlePage {
  padding: 32px 16px;
}

.components-frame-frame_logo {
  position: relative;
  z-index: 5;
  width: 100%;
  text-transform: uppercase;
}

@media (max-width: 520px) {
    .components-frame-frame_logo {
      margin-bottom: 20px;
    }
  }

.components-frame-frame_logoContainer {
  width: 160px;
  display: inline-flex;
  align-items: center;
}
.components-frame-frame_rocket {
  margin-right: 16px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  height: 50px;
}
@media (max-width: 800px) {
    .components-frame-frame_rocket {
      display: none;
    }
  }

/* bg */

@-webkit-keyframes components-frame-frame_float {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes components-frame-frame_float {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.components-frame-frame_bgWrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.components-frame-frame_bg {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.components-frame-frame_ball {
  position: absolute;
  --size: 50px;
  position: absolute;
  -webkit-transform-origin: -50px -50px;
          transform-origin: -50px -50px;
  -webkit-animation: components-frame-frame_float 20s linear infinite;
          animation: components-frame-frame_float 20s linear infinite;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
}

.components-frame-frame_small {
  --size: 10px;
}
.components-frame-frame_medium {
  --size: 15px;
}
.components-frame-frame_big {
  --size: 25px;
}

.components-frame-frame_green {
  background: var(--green);
}
.components-frame-frame_teal {
  background: var(--teal);
}
.components-frame-frame_orange {
  background: var(--orange);
}

.sections-footer-footer_footer {
  flex-direction: column;
  align-items: flex-start;
  padding: 200px 0 0 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: flex-start;
}

  @media (min-width: 600px) {
    .sections-footer-footer_footer {
      flex-direction: row;
    }
  }

.components-headline-headline_headline {
  text-transform: uppercase;
  font-weight: 200;
  font-family: var(--font-headline);
  line-height: 1;

  color: var(--navy);
  transition: text-shadow 120ms ease-in-out;
  text-shadow: 2px 2px 0 rgba(154, 154, 154, 0.46),
    4px 4px 0 rgba(58, 140, 227, 0.15);
  margin: 0;
}
  .components-headline-headline_headline:hover {
    text-shadow: 4px 4px 0 rgba(154, 154, 154, 0.46),
      8px 8px 0 rgba(58, 140, 227, 0.15);
  }

/* Levels */

.components-headline-headline_levelOne {
  margin-bottom: 18px;
  font-size: 90px;
}

@media (max-width: 900px) {

.components-headline-headline_levelOne {
    font-size: 80px
}
  }

@media (max-width: 520px) {
    .components-headline-headline_levelOne {
      font-size: 11vw;
    }
  }

.components-headline-headline_levelTwo {
  font-weight: 600;
  font-size: 38px;
  color: #083a48;
  letter-spacing: 0;

  text-shadow: 2px 2px 0 rgba(154, 154, 154, 0.46),
    4px 4px 0 rgba(58, 140, 227, 0.15);
  margin: 0;
}

.components-headline-headline_levelTwo:hover {
    text-shadow: 4px 4px 0 rgba(154, 154, 154, 0.46),
      8px 8px 0 rgba(58, 140, 227, 0.15);
  }

.components-headline-headline_levelThree {
  text-transform: initial;
  text-shadow: initial;
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
}

.components-headline-headline_levelThree:hover {
    text-shadow: initial;
  }

.components-headline-headline_levelFour {
  text-transform: initial;
  text-shadow: initial;
  font-size: 22px;
  font-weight: 300;
}

.components-headline-headline_levelFour:hover {
    text-shadow: initial;
  }
.components-headline-headline_levelFive {
}

.components-link-link_link {
  font-weight: bold;
  color: var(--navy);
  border-bottom: 4px solid var(--teal);
  text-decoration: none;
}

.pages-index_header {

  margin-bottom: 80px;
}
  @media (min-width: 520px) {
    .pages-index_header {
      height: auto;
    }
  }

.pages-index_headerText {
  margin-bottom: 36px;
}

.pages-index_team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.pages-index_mission {
  font-size: 32px;
  margin-bottom: 16px;
}

@media (--small-screen) {
    .pages-index_mission {
      font-size: 24px;
    }
  }
.pages-index_teamPicture {
  width: 100%;
}

.components-featurelist-featurelist_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0 80px 0;
  grid-gap: 20px;
}
  @media (max-width: 520px) {
    .components-featurelist-featurelist_wrapper {
      grid-template-columns: 1fr;
    }
  }

.components-paragraph-paragraph_paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  font-family: fieldwork-hum, sans-serif;
}

.components-paragraph-paragraph_margin {
  margin-bottom: 120px;
}

.components-spacer-spacer_spacer {
  height: 40px;
}

.components-spacer-spacer_sizeOne {
  height: 40px;
}

.components-spacer-spacer_sizeTwo {
  height: 80px;
}

.components-spacer-spacer_sizeThree {
  height: 120px;
}
.components-spacer-spacer_sizeFour {
  height: 160px;
}
.components-spacer-spacer_sizeFive {
  height: 200px;
}

.components-buttongroup-buttongroup_component {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  grid-gap: 20px;
}

.components-button-button_button {
  background: var(--navy);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-family: var(--font-headline);
  height: 56px;
  padding: 0 36px;
  display: flex;
  font-size: inherit;
  align-items: center;
  font-weight: bold;

  justify-content: center;

  box-shadow: var(--schubrakeden-shadow);

  transition: box-shadow 120ms ease-in-out;
}

  @media (max-width: 520px) {.components-button-button_button {
    font-weight: 500;
    padding: 0 28px;
    height: 42px
}
  }

  .components-button-button_button:focus,
  .components-button-button_button:hover {
    outline: none;
    box-shadow: 8px 8px 0 0 rgba(101, 133, 167, 0.3),
      4px 4px 0 0 rgba(134, 155, 177, 0.4);
  }

.components-button-button_secondary {
  color: var(--navy);
  background: var(--blueLight);

  box-shadow: var(--schubrakeden-shadow--light);
}

.components-button-button_secondary:focus,
  .components-button-button_secondary:hover {
    box-shadow: 8px 8px 0 0 rgba(131, 152, 153, 0.12),
      4px 4px 0 0 rgba(214, 225, 235, 0.56);
  }

.components-richtext-richtext_richtext {
  position: relative;
  background-size: 100%;
}
  .components-richtext-richtext_richtext p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 120px;
  }
  .components-richtext-richtext_richtext p:last-child {
      margin-bottom: 0;
    }
  .components-richtext-richtext_richtext:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 150%;
    top: -25%;
    left: -25%;
    background-image: radial-gradient(white, rgba(255, 255, 255, 0));
    z-index: -1;
    height: 150%;
    max-height: 100vh;
    max-width: 100vw;
  }
  .components-richtext-richtext_richtext h1,
  .components-richtext-richtext_richtext h2,
  .components-richtext-richtext_richtext h3,
  .components-richtext-richtext_richtext h4,
  .components-richtext-richtext_richtext h5 {
    font-family: var(--font);
    color: var(--navy);
  }
  .components-richtext-richtext_richtext a {
    color: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    font-weight: bold;
    color: var(--navy);
    border-bottom: 4px solid var(--teal);
    text-decoration: none;
  }

.pages-blog_BlogHeadline {
  text-transform: none;
  font-size: 48px;
}

.pages-blog_BlogRT {
  font-size: 22px;
}

.pages-blog_BlogRT p {
    margin-bottom: 20px;
  }

.pages-blog_BlogWrap {
  padding: 48px 0;
}

.components-team-team_team {
  margin-bottom: 80px;
}

.components-team-team_member {
  display: flex;
  padding: 28px 0;
  align-items: center;
}

@media (max-width: 520px) {
    .components-team-team_member {
      flex-direction: column;
      align-items: flex-start;
    }
  }

.components-team-team_role {
  font-weight: 100;
  font-size: 20px;
}

.components-team-team_memberName {
  font-size: 28px;
  font-weight: bold;
}

.components-team-team_memberImg {
  flex-shrink: 0;
  box-shadow: var(--schubrakeden-shadow--light);

  margin-right: 28px;
  height: 160px;
  border-radius: 160px;
  background-position: center center;
  background-size: cover;
  width: 160px;
}

@media (max-width: 520px) {
    .components-team-team_memberImg {
      margin-bottom: 28px;
    }
  }

.components-team-team_memberDescription {
  margin: 0;
  margin-top: 8px;
  padding-bottom: 8px;
}

.components-buzzwords-buzzwords_wrapper {
  margin-bottom: 80px;
}
.components-buzzwords-buzzwords_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}

.components-subline-subline_subline {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 36px;
  font-size: 36px;
}

  @media (max-width: 520px) {
    .components-subline-subline_subline,
    .components-subline-subline_subline.components-subline-subline_small {
      font-size: 20px;
    }
  }

.components-subline-subline_small {
  font-size: 28px;
}

.components-list-list_list {
  padding: 0;
  margin-bottom: 80px;
  list-style-type: none;
}

.components-list-list_item {
  font-weight: 200;
  font-size: 58px;
  color: var(--navy);
  line-height: 1.2;
  text-transform: uppercase;
}


/*# sourceMappingURL=styles.chunk.css.map*/